<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource=""></properties>
    <typeAliases>
        <typeAlias type="com.entity.BookBorrowingStatus" alias="book_borrowing_status"/>
        <typeAlias type="com.entity.BookInfo" alias="book_info"/>
        <typeAlias type="com.entity.Rooter" alias="rooter"/>
        <typeAlias type="com.entity.User" alias="user"/>
    </typeAliases>

</configuration>